.caja_navegacion{
    width:246px;
    background:#1A3D7D;
    color:white;
    height:100vh;
}
.smart{
    color:#37a0e1;
    text-align:center;
    margin:40px 0px 30px 0px;
} 
.whater{color:white;}

.caja_salir{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius:20px;
    background:white;
    width:140px;
    height:50px;
    margin:auto;
    margin-top:150px;
}
.caja_salir h2 {
    color:black;
    font-size:30px;
}
.caja_salir button{
    border:0;
    background:none;
    font-weight:bold;
}

